*{ 
color: #fff;
}
button {
 background-color: #722472 !important;
}

.hide{
 display: none; 
}

.shows{
 display: block; 
 height: 100vh;
 animation-name: changetab;
 animation-duration: 3s;
}

#navbar{
 height: 100vh;
 background-color: #555555;
 color: #fff;
 box-shadow: 5px 5px 5px #41464b;
 z-index: 6;
}

#main-container{ 
 background: #000000;
}


@keyframes changetab {
 0% { opacity: 0; }
  100% { opacity: 1; }
}
