.hide{
 display: none; 
}

.show{
 display: block; 
}

#navbar{
 height: 100vh;
 background-color: #898989;
 color: #fff;
}

#main-container{ 
 background: rgb(2,0,36);
 background: radial-gradient(circle, rgba(2,0,36,1) 20%, rgba(22,22,128,1) 80%);
}
