*{ 
color: #fff;
}
.hide{
 display: none; 
}

.show{
 display: block; 
}

#navbar{
 height: 100vh;
 background-color: #555555;
 color: #fff;
 box-shadow: 5px 5px 5px #41464b;
 z-index: 6;
}

#main-container{ 
 background: #898989;
}


